.money-types-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin-top: 20px;
}
.money-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 32%;
  font-family: 'roboto';
  border-radius: 10px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.money-type-image {
  width: 60px;
}
.amount-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.description {
  font-size: 12px;
}
.money {
  font-size: 26px;
  margin-top: 0px;
}
.balance {
  background-color: #ecfccb;
  color: #84cc16;
  border: 1px solid #84cc16;
}
.income {
  background-color: #cffafe;
  color: #06b6d4;
  border: 1px solid #06b6d4;
}
.expense {
  background-color: #ede9fe;
  color: #7c3aed;
  border: 1px solid #7c3aed;
}
